player-connection-mode=Listen
player-connection-guid=217578250
player-connection-debug=0
player-connection-project-name=PruebaPhotonSimultaneo
player-connection-ip=192.168.1.133
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8b53bc874d1244d7863b518d641412f1
